body {
	background: url("../images/wraooer_choose_bg.jpg") repeat;
	margin: 0;
	padding: 0;
}

div div {
	background: none;
	text-align: center;
	display:block;
	width:1000px;
	height:640px;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-500px;
	z-index: 99999;
}

p {
	color: #2a2a2a;
	font: 24px  sans;
	margin: 0;
	padding: 0;
}